.container {
    display: grid;
    padding: 16px;
    max-width: 1600px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-areas:
      "item0 item0"
      "item1 item2"
      "item3 item3"
      "item4 item5";
    background-color: var(--news_list);
    color: var(--text);
    transition: background-color 0.3s ease;
  }
  
  .item0 {
    grid-area: item0;
    background-color: var(--news_card); /* Dark card background */
    padding: 16px;
    border: 1px solid var(--news_card_border); /* Darker border */
    border-radius: 8px;
    color: var(--text_light); /* Light text inside the card */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect transition */
  }
  
  @media (max-width: 1024px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "item0"
        "item1"
        "item2"
        "item3"
        "item4"
        "item5";
    }
  }
  