@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --link_hover: #EB5A3C;
  --header: #636e72;
  --primary: #1976d2;
  --secondary: #9c27b0;
  --background: #F8FAFC;
  --surface: #f5f5f5;
  --text: #1c1c1c;
  --news_list: #F8FAFC;
  --text_light: #808080;
  --news_card: #f5f5f5;
  --news_card_border: #ddd;
}

.dark {
  --link_hover: #EB5A3C;
  --header: #555555;
  --primary: #90caf9;
  /*bg-primary */
  --secondary: #ce93d8;
  --background: #2d3436;
  --surface: #636e72;
  --text: #ffffff;
  --news_list: #121212;
  --text_light: #e0e0e0;
  --news_card: #1e1e1e;
  --news_card_border: #333;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.g-container {
  @apply !max-w-screen-xl !mx-auto;
}